<nav class="navbar d-flex justify-content-center">
    <ul class="d-flex justify-content-center align-items-center list-unstyled">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <h6>|</h6>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NuevoPlato">Agregar un Plato</a>
        </li>
    </ul>
</nav>