@{
    ViewData["Title"] = "Home Page";
}
@model List<Plato>
<div class="text-center">
    <h1 class="display-4">Bienvenido a CRUDelicioso</h1>
</div>
@await Html.PartialAsync("_Navbar")
<div>
    <h4 class="text-decoration-underline mb-4">Revisa algunos platos recientes</h4>
    @foreach(Plato plato in @Model){
        <h6><a asp-controller="Home" asp-action="DetallePlato" asp-route-PlatoId="@plato.PlatoId">@plato.Nombre</a> By @plato.Chef</h6>
    }
</div>
